# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/
